@import '../themes/light.scss';
@import '../themes/dark.scss';
@import '../themes/themes.scss';
@import '../index.scss';

body {
  @include apply-theme(light, $light);
  @include apply-theme(dark, $dark);
}

#container {
  height: 100%;
  width: 100%;
}

.emmerge {
  &-box {
    @extend .fullscreen;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color;
  }

  &-element{
    border-radius: 50%;
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    &.small {
      width: 60vh;
      height: 60vh;
      min-width: 500px;
      min-height: 500px;
    }
  }

}

.spotified {
  background-color: $spotify !important;
  color: var(--text-base,#000000) !important;
  border-radius: 500px !important;
  padding: 14px 32px !important;
  font-weight: bold !important;
  letter-spacing: 0.175rem !important;
  * {
    text-transform: uppercase;
  }  
}