@import '../themes/colors.scss';

.userDevices{
  &--list{
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 0.5rem;

    & > li {
      cursor: pointer;
      padding: 0.75rem 0.5rem;
      border-radius: 1rem;
      border: 2px solid $grey;
      display: flex;
      align-items: center;
  
      &.active {
        border: 2px solid $spotify;
      }

      & .icon {
        display: flex;
        align-items: center;
        min-width: 3rem;
        * {
          font-size: 2.5rem;
        }
      }

      & .info {
        margin: 0 0.25rem;
        align-items: center;
      }
    }
    
  }

  
}
